


body{
    background-color: rgb(50, 156, 205);
}

h1{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20;
    text-align: left;
}

ul{ 
    list-style-type: none;
    padding: 5px;

}


.container-navigation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    display:inline;
    margin: 0 0 0 5px;
}
.push{
    margin-left: auto;
}

button{font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    font-size: large;
    transition-duration: 4s;
}

button:hover{
    background-color: rgba(50, 205, 50, 0);
    color: rgba(255, 255, 255, 0);

}

button:active{
    background-color:  #3e8e4100 ;
    box-shadow: 0 5px rgba(184, 82, 82, 0.87);
    transform: translateY(4px);
}





/* header sytles */

header {
    background-color: rgb(0, 81, 128);
    padding: 10px 0px 10px 0px;
    height: 50px;
    
    
    
}



/* section 2 center item */

.section-one {
    background-color: rgb(229, 149, 149);
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 20px

    


}
.section-two {
    background-color: rgb(230, 124, 124);
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 20px
}


.section-five {
    background-color: rgb(172, 204, 214);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 20px
}

button{font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 2px;
    border: 1px solid rgb(56, 56, 56);
    font-size: large;
    color: black;
    border-radius: 4px;
    transition-duration: 4s;
}

button:hover{
    background-color: rgb(208, 123, 219);
    color: white;

}

button:active{
    background-color:  #601b63 ;
    box-shadow: 0 5px rgb(245, 209, 209);
    transform: translateY(4px);
}

/*typography */


.media-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 15px 25px 15px 15px;

}

.media-container .mediacontent{
    flex: 1;
    padding: 10px;

}
.mediacontent{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
/*footer goes here */

footer{
    background-color: rgba(31, 190, 183, 0.555);
    height: 40px;
    text-align:center;
    font-family: 'segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    color: white;
    padding: 15px 5px;

}


